.nav-pills {
    a {
        color: #e9eef3 !important;
    }

    a:hover {
        color: #93c5fd !important;
    }

    a.active {
        color: #252525 !important;

        background-color: #98a3d8 !important;
    }
}

td.heatmap.holiday {
    background-color: #adadad !important;
}

button {
    border-color: #b1b5b8 !important;
}