th, td {
    border-color: transparent !important;
}

.nav-item {
    .active {
        background-color: transparent !important;
    }

    a {
        color: #ffffff !important;
    }

    a:active {
        color: #5090f1 !important;
        text-decoration: none !important;
    }
}

.nav-tabs-custom {
    border-color: transparent !important;
}