/* terribly hardcoded stylesheet, but so is the sbhs portal :)) */

body {
    background-color: #29333c !important;
    background-image: none !important;
}

div#topnav {
    background-color: #1a2026 !important;
}

.mainlinks ul.menu {
    background-color: #1a2026 !important;
}

div#topnav div.mainlinks ul li a {
    color: #e9eef3 !important;
}

div#topnav div.userblock {
    background-color: #1a2026 !important;
    color: #cbd5e0 !important;
}

div#topnav div.userblock ul.menu li a {
    color: #cbd5e0 !important;
}

h1#sitelogo img {
    background-image: url('chrome-extension://hcfafjbkapoalclkgllghflfinhmkoia/assets/logo-portal-student-white.png') !important;
}

#sub-heading-block, #contentarea, #all  {
    background: #2d3748 !important;
}

#table-events-box table td.evtable {
    color: #cbd5e0 !important;
}

.main h1 {
    color: #d6e0eb !important;
}

.article-info {
    color: #a0aec0 !important;
}

.main h2 {
    color: #ffffff !important;
}

#all {
    color: #cbd5e0 !important;
}

p.item {
    color: black !important;
}

.moduletable {
    div {
        color: #333 !important;
    }
}

#contentarea {
    a:not(.moduletable a, #nav a) {
        color: #60a5fa !important;
        text-decoration: none !important;
    }
    
    a:not(.moduletable a, #nav a):hover {
        color: #93c5fd !important;
        text-decoration: underline !important;
    }
    
    a:not(.moduletable a, #nav a):active {
        color: #3b82f6 !important;
    }
}

/* hide the redundant gif which i will not be using my time to style */
.shsfpimages {
    display: none !important;
}

.pagination li {
    border-color: #4a5568 !important;
}

/* my absences */

.has-bootstrap {
    background-color: #2d3748 !important;

    h3 {
        color: #e2e8f0 !important;
    }

    .card {
        background-color: #4a5568 !important;
        
        h4, li {
            color: #edf2f7 !important;
        }
    }

    thead {
        --bs-table-bg: #3e495b !important;
    }


}

.breadcrumbs span {
    color: #cbd5e0 !important;
}

.menu:not(#slide-block ul, .userblock ul, .mainlinks ul, .helpresponse-block ul) {
    background-color: #2d3748 !important;

    a {
        color: #edf2f7 !important;
        text-decoration: none !important;
    }
    
    a:hover {
        color: #93c5fd !important;
        text-decoration: underline !important;
    }
    
    a:active {
        color: #3b82f6 !important;
    }

    li:hover {
        background-color: #1a2026 !important;
    }
}

#nav h3 {
    color: #edf2f7 !important;
}

